@font-face {
  font-family: 'Monospace Argon';
  src: url('fonts/MonaspaceArgon-Light.otf') format('opentype');
  font-weight: 300; /* light */
}

@font-face {
  font-family: 'Monospace Argon';
  src: url('fonts/MonaspaceArgon-Regular.otf') format('opentype');
  font-weight: 400; /* regular */
}

@font-face {
  font-family: 'Monospace Argon';
  src: url('fonts/MonaspaceArgon-Medium.otf') format('opentype');
  font-weight: 500; /* medium */
}

@font-face {
  font-family: 'Monospace Argon';
  src: url('fonts/MonaspaceArgon-Semibold.otf') format('opentype');
  font-weight: 600; /* semibold */
}

@font-face {
  font-family: 'Monospace Argon';
  src: url('fonts/MonaspaceArgon-Semiwidebold.otf') format('opentype');
  font-weight: 650; /* semiwide-bold */
}

@font-face {
  font-family: 'Monospace Krypton';
  src: url('fonts/MonaspaceKrypton-Light.otf') format('opentype');
  font-weight: 300; /* light */
}

@font-face {
  font-family: 'Monospace Krypton';
  src: url('fonts/MonaspaceKrypton-Regular.otf') format('opentype');
  font-weight: 400; /* regular */
}

@font-face {
  font-family: 'Monospace Krypton';
  src: url('fonts/MonaspaceKrypton-Medium.otf') format('opentype');
  font-weight: 500; /* medium */
}

@font-face {
  font-family: 'Monospace Krypton';
  src: url('fonts/MonaspaceKrypton-Semibold.otf') format('opentype');
  font-weight: 600; /* semibold */
}

@font-face {
  font-family: 'Monospace Krypton';
  src: url('fonts/MonaspaceKrypton-Semiwidebold.otf') format('opentype');
  font-weight: 650; /* semiwide-bold */
}

@font-face {
  font-family: 'Sansation';
  src: url('fonts/Sansation-Regular.ttf') format('truetype');
  font-weight: 400; /* regular */
}

@font-face {
  font-family: 'Sansation';
  src: url('fonts/Sansation-Bold.ttf') format('truetype');
  font-weight: 700; /* bold */
}

@font-face {
  font-family: 'Sansation';
  src: url('fonts/Sansation-Italic.ttf') format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Sansation';
  src: url('fonts/Sansation-Light.ttf') format('truetype');
  font-weight: 300; /* light */
}

:root {
  --primary-color: #ff0000;
  --bold: 700;
}

html { 
	overflow-x:hidden; 
	height: 100%;
	width: 100%;
}
body {
height: 100%;
width: 100%;
background: black;
overflow: hidden;
color: #FFFEEF;
padding: 0px;
margin: 0;
z-index: 0;
display: flex;
justify-content: center;
align-items: center;
}

a {
	color: #B3B3B3; 
	text-decoration: none; 
	font-weight: 400;
	font-family: 'Monospace Argon', monospace;
	font-size: 10pt;
	padding: 0;
	margin: 0;

}
img{
	user-select: none;
}
.store-links{
	display: block;
	width: 100%;
	text-align: center;
	margin: 0;
}
.store-links .center{
	display: flex;
	width: 380px;
	height: auto;
	margin: 0 auto;

}
.store-links a { margin: 0px 20px;}
.store-links img{
	display: inline-block;
	position: relative;
	float: left;
	margin: 0px 0px;
}
::selection {
  color: black;
  background: #FFFEEF;
  text-shadow: 0px 0px 2px gray;
}
.center-everything{
	display: flex;
	flex-wrap: nowrap;
	padding: 0;
	margin: 0 5px 0 10px;
	text-align: center; 
	width: auto;
	height: 99%; 
	overflow: hidden;
}

.menu-container{
	display: flex; 
	justify-content: center; 
	align-items: center;
	width: 250px;
	height: 100%;
	text-align: left;
	float: left;
}

.menu{
	display: block; 
	width: 240px;
	height: auto;
	text-align: left;
}



/*
 ███            █████         █████         █████     
 ███          ███    ███    ██    ███     ███    ███  
 ███        ███        ███ ██           ███        ███
 ███        ███        ███ ███          ███        ███
 ███        ███        ███ ███   ██████ ███        ███
 ███          ███     ███   ███    ██     ███     ███ 
 ██████████     █████        ██████         █████     
                                                      
*/

.logo-container{
	display: block;
	width: 200px;
	height: auto;
	text-align: left;
	padding:  0;
}
.logo{
	display: block;
	width: 60px;   /*60px-NORMAL - 90px XMAS VERSION*/
	height: 60px;
	background-image: url(img/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
.description-container{
	display: block;
	width: 200px;
	height: 40px;
	text-align: left;
	padding: 15px 0; 
	margin-bottom: 40px; 
}
.description-container img{
	margin-left: -5px;
	user-select: none;

}
.description{
	font-family: 'Monospace Argon', monospace;
	font-size: 13px;
	font-weight: 400;
	color: #FEFBF4;
}
.logo-container button:hover{
	cursor: pointer;
}

/*

 ████     ███       ██        ███         ███       ███        ███ ████     ███ ███   ███     ██████  
 ██ ███   ███      ██ ██       ███       ███        ███        ███ ██ ███   ███ ███  ███    ███    ███
 ███ ███  ███     ██  ███       ███     ███         ███        ███ ███ ███  ███ ███ ███      ███      
 ███  ███ ███    ███   ███       ███   ███          ███        ███ ███  ███ ███ ██ ██          ███    
 ███   ██ ███   ███████ ███       ███ ███           ███        ███ ███   ██ ███ ███  ███          ███ 
 ███    ██ ██  ███       ███       █████            ███        ███ ███    ██ ██ ███   ███   ███    ███
 ███      ███ ███         ███       ███             ██████████ ███ ███      ███ ███     ███   ██████  
                                                                                                      
*/

.links-container{
	display: block; 
	width: 200px;
	height: auto;
	text-align: left;
	padding: 0;
	user-select: none; 
}
.links-group{
	display: block;  
	width: 200px;
	height: auto;
	text-align: left;
	margin-bottom: 25px;
}
.link-group-title{
	display: block;  
	width: 200px;
	height: auto;
	text-align: left;
	margin-bottom: 5px;
	color: #EBE8E1;
	font-family: 'Monospace Krypton', monospace;
	font-size: 10pt;
	font-weight: 650;
	opacity: 100%;
}

.menu-link {
	width: auto;
	height: auto;
	background-color: black;
	padding: 0;
	margin: 0;
	color: #6D6D6D;
	user-select: none;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  background-color: transparent;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	display: block;
	width: auto;
	height: 16px;
  color: #989898; opacity: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0px 0px;
  font-family: 'Monospace Argon', monospace;
  font-size: 8pt;
  font-weight: 500;
}

/* Change background color of buttons on hover */
.tab button:hover {
	border: none;
  outline: none;
	color: #EBE8E1; opacity: 100%;
	text-decoration: underline;
}

/* Create an active/current tablink class */
.tab button.active {
	border: none;
	padding: 0;
  outline: none;
  color: #DA9E3A; /*yellow*/
  color: #00C3FF; /*blue*/
  opacity: 100%;
  
}

.logo-container button{
	color: transparent;
	border: none;
	background-color: transparent;
}
.balloon{
	width: auto;
	height: 10px;
	line-height: 12px;
	vertical-align: middle;
  color: whitesmoke;
  background-color: #202020;
  padding: 5px 10px;
  font-family: 'Monospace Argon', monospace;
  font-size: 8pt;
  font-weight: 500;
  border-radius: 10px;
}
#myButton {
  position: relative;
}

/*

 ████████   ████████         █████           ███  █████████     ███    ███████████   ██████  
 ███    ███ ███    ███     ███    ███        ███  ███        ███   ███     ███     ███    ███
 ███    ███ ███    ███   ███        ███      ███  ███       ███            ███      ███      
 ████████   ██ ███       ███        ███      ███  ███████   ███            ███        ███    
 ███        ███  ███     ███        ███      ███  ███       ███            ███           ███ 
 ███        ███    ███     ███     ███  ██   ███  ███        ███   ███     ███     ███    ███
 ███        ███      ███     █████       █████    █████████    █████       ███       ██████  
                                                                                             
*/

.content-container{
	position: relative;
	float: right;
	display: flex;  
	width: 666px;
	max-width: 666px; min-width: 100px;
	height: 100%;
	font-family: 'Sansation', sans-serif;
	text-align: left;
	background-color: black; /* #070707;*/
	background-image: url(img/background-gray-noise.svg);
	background-size: contain;
	background-repeat: repeat;
	padding: 0px 25px;
	margin: 0;
	overflow: scroll;
	overflow-y: auto;
	scrollbar-width: none;  /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.content-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* Style the tab content */
.tabcontent {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  padding: 40% 0px; 
  border-top: none;
  border: none;
  outline: none; 
  overflow: scroll;
  scrollbar-width: none;  /* Firefox */
	-ms-overflow-style: none;  /* Internet Explorer 10+ */
	text-align: center;
} 
.tabcontent::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
h1 {
	font-weight: 400;
	font-size: 20pt;
	color: whitesmoke;
	text-align: center;
}
h2 {
	font-weight: 400;
	font-size: 14pt;
	color: whitesmoke;
	text-align: left;
	margin-top: 50px;
}
p {
	font-size: 10pt;
	font-weight: 400;
	color: #D1D1D1;
	text-align: left;
}
/* ------------ THIS IS A FEATURED PROJECT ----------- */
.featured-title{
	font-family: 'Sansation', sans-serif;
	font-size: 12pt;
	font-weight: 600;
	color: whitesmoke;
}
.project1 button{
	background-color: black;
	color: rgba(0, 0, 0, 0);
	opacity: 100%;
	width: 100%; height: 300px;
	margin: 10px 0;
	background-image: url(img/jex/jex-featured-cover.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom;
}
.project2 button{
	background-color: black;
	color: rgba(0, 0, 0, 0);
	opacity: 100%;
	width: 100%; height: 300px;
	margin: 10px 0;
	background-image: url(img/besiege/besiege-featured-cover.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}
.project3 button{
	background-color: black;
	color: rgba(0, 0, 0, 0);
	opacity: 100%;
	width: 100%; height: 300px;
	margin: 10px 0;
	background-image: url(img/alchemy/alchemy-featured-cover.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}
.project1 button:hover{ color: rgba(0, 0, 0, 0); opacity: 91%; }
.project2 button:hover{ color: rgba(0, 0, 0, 0); opacity: 91%; }
.project3 button:hover{ color: rgba(0, 0, 0, 0); opacity: 91%; }

.highlight{
	color: #DA9E3A;
	color: whitesmoke;
}

/* ------------------ GALLERY -------------- */
.gallery {
  width: 100%; /* adjust to your desired width */
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery:after {
  content: "";
  display: block;
  clear: both;
}

.gallery img:nth-child(2n+1) {
  margin-right: 0;
}

.gallery img:nth-child(2n) {
  margin-left: 0;
}
.lightboxGallery img:hover{
	/*filter: grayscale(1); */
	cursor: url(img/zicon.png), pointer; 
	opacity: 1;
}



/*

 ███        ███ ████     ███ ███   ███     ██████  
 ███        ███ ██ ███   ███ ███  ███    ███    ███
 ███        ███ ███ ███  ███ ███ ███      ███      
 ███        ███ ███  ███ ███ ██ ██          ███    
 ███        ███ ███   ██ ███ ███  ███          ███ 
 ███        ███ ███    ██ ██ ███   ███   ███    ███
 ██████████ ███ ███      ███ ███     ███   ██████  
                                                   
                                             
*/

.socials-container{
	display: block;  
	width: 100%;
	height: auto; 
	padding-top: 20px; 
}
.social{
	display: flex;  
	flex-wrap: nowrap; 
	width: 100%;
	height: auto; 
}
.social-icon{
	display: flex; 
	flex-wrap: nowrap;
	width: 20px;
	height: 20px; 
	float: left;
	user-select: none;
}
.social-text{
	display: flex;
	flex-wrap: nowrap;
	font-family: 'Monospace Krypton', monospace;
	font-size: 10pt;
	font-weight: 200;
  	line-height: 22px;
  	vertical-align: middle;
	margin-left: 5px;
}
.version{
	position: absolute;
	bottom: 10px;
	display: block;
	width: auto;
	height: 20px; 
	text-align: left;
	padding-right: 20px;
}
.version-text{
	display: block;
	float: right;
	font-family: 'Monospace Krypton', monospace;
	font-size: 8pt;
	font-weight: 200;
	text-align: right;
	color: rgba(100, 100, 100, 0.5);
  	line-height: 22px;
  	vertical-align: middle;
	margin-left: 5px;
}








.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
  z-index: 1;
}

.lightbox.open {
  display: block;
}

.lightbox img {
  max-width: 60vw;
  max-height: 80vh;
  
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 1;
}

.lightbox-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 0;
  opacity: 0.5;
}

.lightbox-background.open {
  display: block;
}




.about{
	display: block;
	width: 100%;
	height: auto;
	margin-top: 100px;
}
.about-intro{
	display: block;
	width: 40%;
	height: auto;
	float: left;
}
.about-img{
	width: 50%;
	height: auto;
	display: inline-block;
	float: right;
}
.more-about{
	margin-top: 10px;
	width: 100%;
	height: auto;
	display: inline-block;
}



/*
 ███       ███     █████      █████     ███ ███        █████████
 ██ ███   ████   ███    ███   ██  ███   ███ ███        ███      
 ███ ███ █ ███ ███        ███ ██   ███  ███ ███        ███      
 ███  ███  ███ ███        ███ ██████    ███ ███        ███████  
 ███   ██  ███ ███        ███ ██    ███ ███ ███        ███      
 ███       ███   ███     ███  ██     ██ ███ ███        ███      
 ███       ███     █████      ████ ███  ███ ██████████ █████████
                                                                                                                                                                                             
*/


/*
▀██    ██▀ ▀██▀▀▀▀█  ▀█▄   ▀█▀ ▀██▀  ▀█▀ 
 ███  ███   ██  ▄     █▀█   █   ██    █  
 █▀█▄▄▀██   ██▀▀█     █ ▀█▄ █   ██    █  
 █ ▀█▀ ██   ██        █   ███   ██    █  
▄█▄ █ ▄██▄ ▄██▄▄▄▄▄█ ▄█▄   ▀█    ▀█▄▄▀   
                                         
*/



.hamburger-button {
	position: absolute;
	border: none;
	background-color: transparent;
	top: 20px;
	right: 20px;
	z-index: 99;
	cursor: pointer;
	display: none;
	width: 30px;
	height: 30px;
	background-image: url('img/menu-icon-open.svg');
	background-size: 30px 30px;
  }
  
  .hamburger-button.is-active {
	background-image: url('img/menu-icon-close.svg');
  }
  

/* media query to toggle between hamburger menu and normal view */
@media (max-width: 1000px) {
	.hamburger-button {
	  display: block; /* show the button on small screens */
	}
	.menu-container {
	  display: block; /* show the menu div on small screens */
	}
	.menu-container.hidden-on-small-screens {
	  display: none; /* hide the menu div on small screens when not toggled */
	}
	.content-container {
	  width: 100%; /* make the content div full-width on small screens */
	}
	.menu-container {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100vh;
	  background-color: #00000036; /* or any other background color you prefer */
	  z-index: 9;
	  display: none;
	}
	.menu-container.show {
	  display: block; /* add this new class to show the menu */
	}
  }
